preprocessor frag3_global
preprocessor frag3_engine

# threshold:type limit means that the rule will fire when the number of events in the specified time period exceeds the specified threshold


# track by_dst means that the threshold will be applied to the number of events per destination IP address
# count 5 threshold will be applied when the number of events per destination IP address exceeds 5
# seconds 120 means that the threshold will be applied in a 2 minute period



# track by_src means that the threshold will be applied to the number of events per source IP address
# Using detection_filter to filter out the events that are not relevant




alert tcp any any -> 10.101.148.215 0:2048 \
    (msg:"Ligações em menos de 2 min. para portos inferiores a 2048"; flow:to_server, established; \
    threshold: type threshold, track by_dst, count 5, seconds 120; sid:20230511; rev:1;)


alert tcp any any -> 10.101.148.215 3000 \
    (msg:"Estão a tentar descobrir uma password de acesso ao serviço"; flow:to_server, established; \
    threshold:type both, track by_src, count 3, seconds 20; sid:20230512; rev:1;)
